@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="ajax_detail">
    <form method="post" enctype="multipart/form-data" id="modifypwdForm" name="multiForm" class="form-horizontal" target="_self">
        <div class="well">
            <table>
                <tr>
                    <td>
                        <label class="control-label">旧密码：</label>
                    </td>
                    <td>
                        <input type="password" class="input-xlarge" name="oldpassword" value="" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">新密码：</label>
                    </td>
                    <td>
                        <input type="password" class="input-xlarge" name="newpassword" value="" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">确认新密码：</label>
                    </td>
                    <td>
                        <input type="password" class="input-xlarge" name="conpassword" value="" required="required" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="well form-actions">
            <input type="button" value="提交" id="modifypswdbtn" class="btn btn-primary" />
            <span>
                <a href="javascript:void(0)" onclick="location.href='@Request.UrlReferrer'" class="btn">取消</a>
            </span>
        </div>
    </form>
</div>
@section HtmlFooter
{
    <script>
        $(function () {
            $("#modifypswdbtn").click(function () {
                $("#modifypwdForm").ajaxSubmit({
                    url: "/AdminUser/ModifyPassword",
                    dataType: 'json',
                    success: function (responseText) {
                        $(".alert").remove();
                        if (responseText.error != true) {
                            var msg = responseText.msg == '' || typeof (responseText.msg) == 'undefined' ? '操作成功!' : responseText.msg;
                            $("#modifypwdForm").before('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>' + msg + '</div>');
                            $("#modifypwdForm")[0].reset();	//	重置表单
                            setTimeout(function () { location.href = "/Home/Index"; }, 3000);//三秒后跳转首页
                        } else {
                            var msg = responseText.msg == '' || typeof (responseText.msg) == 'undefined' ? '操作失败!' : responseText.msg;
                            $("#modifypwdForm").before('<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>' + msg + '</div>');
                        }
                    }
                });
            });
        });
    </script>
}
