@using Com.Panduo.Service
@{
    ViewBag.Title = "NDDBC";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section HtmlHead
{
    <link href="~/Css/index.css" rel="stylesheet" type="text/css" />
}
<div id="main">
    <a href="index.php">
        <img src="includes/templates/cherry_zen/images/english/logo.gif" alt="8Seasons.com" title="8Seasons.com" border="0"></a>
    <p class="STYLE1">Dear friend,</p>
    <p class="STYLE1">
        Thank you for visiting our website.
        <br>
        <br>
        Currently there is something wrong with our website. When you enter it, you might be guided to this abnormal page.
        <br>
        But please do not worry about it; your previous information on our website has been saved very well.
        <br>
        <br>

        <strong>To back to our website, please <a href="index.php">click here &gt;&gt;</a></strong><br>
        <br>
        If you always see this page when you visit our website, please kindly email us at: <a href="mailto:service@8seasons.com">service@8seasons.com</a><br>
        We feel extremely sorry for any inconvenience brought to you. Thanks for your kind understanding.<br>
        <br>
        Kind Regards
        <br>
        8Seasons Team
    </p>
</div>
<div class="clearfix"></div>