@{
    ViewBag.Title = "System error";
     
}
<div id="ErrorPages_conter">
        <div class="ErrorPages_conter_left">
            <img src="@Url.Content("Images/Error/Error500.jpg")" />
            <p>
                System error and was unable to complete your request.Please try again later.<br/>
                Sorry for the inconvenience.
            </p>
        </div>
    </div>
    <div style="clear: both"></div>