<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <!--*********************Begin配置节*****************-->
  <configSections>
    <!--***************Begin spring配置节************-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <!--***************End spring************--> 

    <!--***************Spring用到的Memcached配置节************-->
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler, NHibernate.Caches.MemCache" />

    <section name="productSolrSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!--*********************End配置节*******************-->

  <!--***************AppSettings配置节使用独立配置文件************-->
  <appSettings configSource="Config\appSettings.config" />

  <productSolrSettings configSource="Config\productSolrSettings.config"/>
  
  <connectionStrings/>
  <!--***************Begin spring配置************-->
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/ApplicationContent.config" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>
  <!--***************End spring配置************-->

  <!--***************Begin Memcached配置************-->
  <memcache>
    <memcached host="127.0.0.1" port="11211" weight="2" />
  </memcache>
  <!--***************End Memcached配置************-->
</configuration>
