@{
    Layout = null;
}
<form name="updateForm" action="/Channel/Add" method="post" onsubmit="return false;">
    <table class="table">
        <tr>
            <td width="20%">客户邮箱：</td>
            <td>
                <input type="text" id="txtCustomerEmail" required="required" name="txtCustomerEmail" value="" /></td>
        </tr>
    </table>
</form>