<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Mvc自带配置-->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" /> 

  <!--Memcached服务地址-->
  <add key="memcached.services" value="127.0.0.1:11211"/>
  
  <!--是否清除Server的头信息-->
  <add key="IsRemoveServerReponseHeader" value="false"/>
  <!--是否拦截系统错误-->
  <add key="IsSystemExceptionFilter" value="false"/>
  <!--Cookie对应的域名-->
  <add key="CrossDomainCookie" value=""/> 
  
  <!--应用程序版本号-->
  <add key="AppVersion" value="1.0"/>
  
  <!--是否启用压缩-->
  <add key="IsCompressOn" value="true"/>
  <!--压缩文件Mime类型,逗号分割多个-->
  <add key="CompressableMimeType" value="text/html,text/xml,text/plain,image/jpeg,image/gif"/>
  
  <!--404错误路由名称-->
  <add key="PageNotFoundRouteName" value="PageNotFound"/>
  <!--404错误显示视图名称-->
  <add key="PageNotFoundViewName" value="PageNotFound"/>
  <!--500错误路由名称-->
  <add key="SystemErrorRouteName" value="SystemError"/>
  <!--500错误显示视图名称-->
  <add key="SystemErrorViewName" value="SystemError"/>
  <!--IP检查错误路由名称-->
  <add key="IpCheckErrorRouteName" value="IpCheckError"/>
  <!--IP检查错误路由URL-->
  <add key="IpCheckErrorUrl" value="access-denied.html"/>
  
  <!--是否启用Https-->
  <add key="IsEnableHttps" value="false"/>
  <!--http端口-->
  <add key="httpPort" value="80"/>
  <!--https端口-->
  <add key="httpsPort" value="443"/> 
  
  <add key = "DefualtCurrency" value = "USD:EN|EUR:DE,FR,ES,IT|RUB:RU|JPY:JA" />
  
  <!--**************************类别图片地址，保持与后台上传配置的地址一致**********************-->
  <!--类别主机地址-->
  <add key="CateogryImageHost" value="http://192.168.3.172:9999"/>
  
  <!--关键字跳转配置-->
  <add key="Keyword.Redirect" value="~/Config/KeywordRedirect.txt"/>
  <!--邮件生成目录-->
  <add key="Mail.Path" value="D:\temp\email"/>
  <!--支付凭证目录-->
  <add key="PaymentReceipt.Path" value="d:\temp\pay"/>
  <!--在线支付返回主机头地址：主要是为了兼容内网支付以后无法返回数据而设置，正式环境保持value为空就可以了,测试环境地址:http://101.68.66.206:37777/-->
  <add key="Payment.Return.Host" value="http://101.68.66.206:37777/"/>
  
  <!--清除网站缓存Token-->
  <add key="Clear.SiteCache.Token" value="123456"/>
  
  <!--使用CDN加速以后CDN节点通过节点传递过来的客户原始IPKey名称,留空则不搜索CDN设置的IP，比如CloudFlare的"CF-Connecting-IP",网宿CDN用的是"Cdn-Src-Ip"-->
  <add key="CdnClintIpKey" value="CF-Connecting-IP" />
  <!--本公司外网IP地址-->
  <add key="CompanyIp" value="101.68.66.206" />

  <add key="MailLogoHost" value="http://192.168.3.127:8080"/>
  
  <add key="WkHtmlPdfPath" value="C:\Program Files\wkhtmltopdf" />

  <add key="PdfPath" value="d:\test\" />
  
</appSettings>