<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <spring-config>
    <!--Begin 数据库配置-->
    <add key="db.datasource" value="192.168.3.170"/>
    <add key="db.database" value="8Seasons"/>
    <add key="db.user" value="panduo.develop"/>
    <add key="db.password" value="pan#0923$dev"/>
    <!--End   数据库配置-->

    <!--初始化后是否加载数据到缓存-->
    <add key ="IsLoadCacheInit" value ="false" />
    <!--初始化后是否加载商品数据到缓存-->
    <add key ="IsLoadProductCacheInit" value ="false" />
    <!--当前语种Id-->
    <add key ="LangId" value ="1" />
    <!--当前语种-->
    <add key ="Lang" value ="en" />
    <!--英语语种Id-->
    <add key ="EnglishLangId" value ="1" />
    <!--默认国家二级简码(如：英文站为US、俄语站为RU)-->
    <add key="DefaultCountrySimpleCode2" value = "US" />
    <!--支付配置文件完整路径 D:\work\TFS\Panduo.8Seasons\PaymentCommon\Config\Payment.config-->
    <add key="PaymentConfigFileFullPath" value = "" />
    <!--是否IP限制-->
    <add key ="IsIpAddressLimit" value ="true" />
    <!--匿名用户购物车数量-->
    <add key ="AnonymousUsersShoppingcartCount" value ="10" />
    <!--原图下载地址-->
    <add key ="ImageUrl" value ="http://192.168.3.172:8181/download-picture.html?downloadType={0}&amp;imagePath={1}" />
    <!--原图批量地址-->
    <add key ="ImageBatchUrl" value ="http://192.168.3.172:8181/fetch-picture-compress-url.html?billType={0}&amp;billNo={1}" />
    <!--错误邮箱-->
    <add key ="ErrorMail" value ="true" />
    <!--用户建议邮箱-->
    <add key ="SuggestionMail" value ="true" />
    <!--系统邮箱-->
    <add key ="SystemMail" value ="true" />
    <!--客户地址上限个数-->
    <add key ="CustomersAddressMaxCount" value ="10" />
    <!--客户历史浏览记录上限个数-->
    <add key ="RecentlyViewedMaxCount" value ="6" />
    <!--网站联系方式 邮箱-->
    <add key ="SiteContactMailBox" value ="8seasons" />
    <!--网站联系方式 Skype-->
    <add key ="SiteContactSkype" value ="panduo@panduo.com.cn" />
    <!--网站联系方式 Telephone-->
    <add key ="SiteContactTelephone" value ="132566565566" />
    <!--网站当前使用的IP库，IP1或IP2-->
    <add key ="SiteIpLibrary" value ="IP1" />
    <!--邮件模板路径-->
    <add key="MailTemplate" value="App_Data"/>
    <!--订单支付金额容差(美元)-->
    <add key="AmountTolerance" value="0.05"/>
    <!--需要用美元来支付Paypal的币种,用逗号分隔多个-->
    <add key="PayByPaypalUseUsd" value="UAH"/>
    <!--网络请求默认超时时长,单位:秒-->
    <add key="RequestTimeout" value="60"/>
    <!--Admin修改密码时长-->
    <add key="AdminModifyTime" value="60"/>
    
    <!--Solr地址-->
    <!--<add key ="SolrUrl" value ="true" />-->
    <!--memcache地址-->
    <!--<add key ="MemcacheUrl" value ="true" />-->
    <!--站点当前语种-->
    <!--<add key ="SiteLanguageCode" value ="EN" />-->
    <!--是否促销-->
    <!--<add key ="IsPromotion" value ="true" />-->
    <!--产品图片Base Url-->
    <!--<add key="ProductImageBaseUrl" value=""/>-->
    <!--订单所有图片Base Url-->
    <!--<add key="OrderImagesBaseUrl" value=""/>-->
  </spring-config>
</configuration>