<?xml version="1.0" encoding="utf-8" ?>
<MailChimpService>
  <apiKey>testapikey-us7</apiKey>
  <subscriberListId>testlistid</subscriberListId>
  <serviceUrl>https://us7.api.mailchimp.com/2.0/</serviceUrl>
  <listsRelatedSection>lists</listsRelatedSection>
  <helperRelatedSection>helper</helperRelatedSection>
</MailChimpService>