<?xml version="1.0" encoding="utf-8"?>
<Payment>
  <Paypal enable="true">
    <Account>sandbox_signature@163.com</Account>
    <!--正式环境:https://www.paypal.com/cgi-bin/webscr,测试环境:https://www.sandbox.paypal.com/cgi-bin/webscr-->
    <SubmitUrl>https://www.sandbox.paypal.com/cgi-bin/webscr</SubmitUrl>
    <LogoUrl>https://www.8seasons.com/includes/templates/cherry_zen/images/english/logo.gif</LogoUrl>
    <DescPrefix>Pay For 8seasons Order - </DescPrefix>
    <DescSubfix></DescSubfix>
    <!--Paypal最大交易金额限制-->
    <MaxAmounts>
      <MaxAmount currency="USD">10000</MaxAmount>
      <MaxAmount currency="EUR">7500</MaxAmount>
      <MaxAmount currency="GBP">6200</MaxAmount>
      <MaxAmount currency="CAD">9900</MaxAmount>
      <MaxAmount currency="JPY">780000</MaxAmount>
      <MaxAmount currency="RUB">9600</MaxAmount>
      <MaxAmount currency="SGD">12000</MaxAmount>
      <MaxAmount currency="AUD">9600</MaxAmount>
      <MaxAmount currency="UAH">9600</MaxAmount>
      <MaxAmount currency="NZD">12000</MaxAmount>
      <MaxAmount currency="SEK">67000</MaxAmount>
    </MaxAmounts>
  </Paypal>

  <PaypalExpress enable="true">
    <!--正式环境:live,测试环境:sandbox-->
    <Environment>sandbox</Environment>
    <!--通用：正式环境:https://www.paypal.com/cgi-bin/webscr,测试环境:https://www.sandbox.paypal.com/cgi-bin/webscr-->
    <!--签名的认证方式Signature 正式环境:https://api-3t.paypal.com/nvp ,测试环境:https://api-3t.sandbox.paypal.com/nvp-->
    <!--数字证书的认证方式Certificate 正式环境:https://api.paypal.com/nvp  ,测试环境:https://api.sandbox.paypal.com/nvp-->
    <ServiceUrl>https://www.sandbox.paypal.com/cgi-bin/webscr</ServiceUrl>
    <Host></Host>
    <LogoUrl>https://www.8seasons.com/includes/templates/cherry_zen/images/english/logo.gif</LogoUrl>
    <DescPrefix>Pay For 8seasons Order - </DescPrefix>
    <DescSubfix></DescSubfix>
    <Credential>Signature</Credential>
    <Credentials>
      <!--数字证书的认证方式-->
      <Certificate>
        <ApiUsername>sandbox_cert_api1.163.com</ApiUsername>
        <ApiPassword>HSAZ4JAUTEB8WK39</ApiPassword>
        <!--用PKCS12 加密过的证书文件paypal_cert.p12的绝对路径-->
        <CertificateFile>D:\paypal\paypal_cert.p12</CertificateFile>
        <!--用PKCS12 加密过程中输入的私钥-->
        <PrivateKeyPassword>Panduo8888</PrivateKeyPassword>
        <Subject></Subject>
      </Certificate>
      <!--签名的认证方式-->
      <Signature>
        <ApiUsername>sandbox_signature_api1.163.com</ApiUsername>
        <ApiPassword>H4MLN87PHEKTKFDQ</ApiPassword>
        <Signature>ASnMBf5090YK0vjniVAgl6cUd9AeAvuBagn7gy9E1hzO5Qb.cLxVTjwz</Signature>
        <Subject></Subject>
      </Signature>
      <!--OAuth认证方式-->
      <OAuth>
        <ApiUsername></ApiUsername>
        <AuthToken></AuthToken>
        <AuthSignature></AuthSignature>
        <AuthTimestamp></AuthTimestamp>
        <CertificateFile></CertificateFile>
        <PrivateKeyPassword></PrivateKeyPassword>
      </OAuth>
    </Credentials>
    <!--Paypal最大交易金额限制-->
   <MaxAmounts>
      <MaxAmount currency="USD">10000</MaxAmount>
      <MaxAmount currency="EUR">7500</MaxAmount>
      <MaxAmount currency="GBP">6200</MaxAmount>
      <MaxAmount currency="CAD">9900</MaxAmount>
      <MaxAmount currency="JPY">780000</MaxAmount>
      <MaxAmount currency="RUB">9600</MaxAmount>
      <MaxAmount currency="SGD">12000</MaxAmount>
      <MaxAmount currency="AUD">9600</MaxAmount>
      <MaxAmount currency="UAH">9600</MaxAmount>
      <MaxAmount currency="NZD">12000</MaxAmount>
      <MaxAmount currency="SEK">67000</MaxAmount>
    </MaxAmounts>
  </PaypalExpress>

  <GlobalCollect enable="true">
    <!--正式环境:https://ps.gcsip.nl/hpp/hpp,测试环境:https://ps.gcsip.nl/wdl/wdl-->
    <ServiceUrl>https://ps.gcsip.nl/wdl/wdl</ServiceUrl>
    <Version>2.0</Version>
    <LanguageCode>en</LanguageCode>
    <HostedIndicator>1</HostedIndicator>
    <Cvvindicator>1</Cvvindicator>
    <MerchantId>7983</MerchantId>
    <IpAddress>69.64.82.55</IpAddress>
    <!--GC最大交易金额限制-->
    <MaxAmounts>
      <MaxAmount currency="USD">13000</MaxAmount>
      <MaxAmount currency="EUR">10000</MaxAmount>
      <MaxAmount currency="GBP">8100</MaxAmount>
      <MaxAmount currency="CAD">13000</MaxAmount>
      <MaxAmount currency="JPY">980000</MaxAmount>
      <MaxAmount currency="RUB">9800</MaxAmount>
      <MaxAmount currency="SGD">15000</MaxAmount>
      <MaxAmount currency="UAH">980000</MaxAmount>
      <MaxAmount currency="AUD">12000</MaxAmount>
      <MaxAmount currency="NZD">15000</MaxAmount>
      <MaxAmount currency="SEK">84000</MaxAmount>
    </MaxAmounts>
  </GlobalCollect>

  <OceanPayment>
    <ServiceUrl>https://secure.oceanpayment.com/gateway/service/test</ServiceUrl>
    <Methods>
      <Add Method="Webmoney"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="false" />
      <Add Method="Yandex"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="false" />
      <Add Method="Credit Card"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="false" />
      <Add Method="QiWi"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="false" />
    </Methods>
    <!--钱海支付的最大交易金额限制-->
    <MaxAmounts>
      <MaxAmount currency="USD">13000</MaxAmount>
      <MaxAmount currency="EUR">10000</MaxAmount>
      <MaxAmount currency="GBP">8100</MaxAmount>
      <MaxAmount currency="CAD">13000</MaxAmount>
      <MaxAmount currency="JPY">980000</MaxAmount>
      <MaxAmount currency="RUB">9800</MaxAmount>
      <MaxAmount currency="SGD">15000</MaxAmount>
      <MaxAmount currency="UAH">980000</MaxAmount>
      <MaxAmount currency="AUD">12000</MaxAmount>
      <MaxAmount currency="NZD">15000</MaxAmount>
      <MaxAmount currency="SEK">84000</MaxAmount>
    </MaxAmounts>
  </OceanPayment>

  <HSBC enable="true">
    <AccountName></AccountName>
    <AccountNumber>561 787847 838</AccountNumber>
    <BankName>HSBC Hong Kong</BankName>
    <SwiftCode>HSBCHKHHHKH</SwiftCode>
    <Address>1 Queen's Road Central, Hong Kong</Address>
    <Beneficiary>EIGHTSEASONS (HONGKONG) INDUSTRY CO., LIMITED</Beneficiary>
  </HSBC>

  <BankOfChina enable="true">
    <AccountName>Huang Lidi</AccountName>
    <AccountNumber>353259296059</AccountNumber>
    <BankName>Bank of China</BankName>
    <SwiftCode>BKCHCNBJ910</SwiftCode>
    <Address>Bank of China, Yiwu</Address>
    <Phone>(+86)579-85335690</Phone>
  </BankOfChina>

  <WesternUnion enable="true">
    <FirstName>AILAN</FirstName>
    <LastName>WEN</LastName>
    <Address>Buliding 3 (Panduo) #718 South Chengdian Road Yiwu Zhejiang China</Address>
    <ZipCode>322099</ZipCode>
    <City>Yiwu</City>
    <Country>P.R.China</Country>
    <Phone>(+86)579-85335690</Phone>
  </WesternUnion>

  <MoneyGram enable="true">
    <FirstName>AILAN</FirstName>
    <LastName>WEN</LastName>
    <Address>Office Building101#, Qiushi Rd, Beiyuan Industrial District</Address>
    <ZipCode>322000</ZipCode>
    <City>Yiwu</City>
    <Country>P.R.China</Country>
    <Phone>(+86)579-85335690</Phone>
  </MoneyGram>
</Payment>
