<?xml version="1.0"?>
<productSolrSettings>
  <!--Solr地址：搜索所有商品用-->
  <add key="SolrUrl.Product" value="http://192.168.3.172:8983/solr/8season_en_main/"/>

  <!--Solr搜索引擎:Standard,EDisMax-->
  <add key="SolrEngine" value="EDisMax"/>

  <!--标准Solr引擎关键字搜索字段格式 -->
  <add key="Standard.SearchKeywordFormat" value="root_category_name:({0})^90 OR parent_category_name:({0})^80 OR category_name:({0})^70 OR product_name:({0}) OR sku:&quot;{0}&quot;^99 OR property_value_name:({0}) OR marketing_title:(,{0},)"/>

  <!--DisMax和EDisMax Solr引擎关键字搜索字段格式 -->
  <add key="EDisMax.SearchKeywordFormat" value="({0})"/>
  <!--DisMax和EDisMax Solr引擎查询字段权重 -->
  <add key="EDisMax.QF" value="(root_category_name^90 AND parent_category_name^80 AND category_name^70 AND product_name AND sku^99 AND property_value_name AND marketing_title )^0.75"/>
  <!--DisMax和EDisMax Solr引擎查询字段权重 -->
  <add key="EDisMax.BF" value="product_score^0.2"/>

  <!--同义词配置文件-->
  <add key="Synonyms" value="~/Config/product_solr_synonyms.txt"/>
  <!--关键字同义词搜索字段格式.如果跟原词一样，则不用设置-->
  <add key="SearchKeywordFormatOfSynonym" value=""/>
  
  <!--产品显示控制:
  格式为：区域:数量|区域:数量
  可选区域:普通商品区域-NormalArea、新品区-NewArrival、热销品区-BestSeller、混装区-MixProduct、促销-Promotion、搜索-SearchArea、DailyDeals、相似商品-SimilarItem、推荐商品-FeaturedProduct、
  -->
  <add key="Product.DisplayRate" value="NormalArea:90|MixProduct:90"/>
</productSolrSettings>