<?xml version="1.0" encoding="utf-8"?>
<Routes>
  <Route Name="Christmas" Url ="Christmas-Day.html" Defaults ="{ controller:'Product',action:'StaticHtml',viewName:'Christmas-Day' }" Constraints ="" Namespaces="" />
  <Route Name="NewYear" Url ="NewYear-Day.html" Defaults ="{ controller:'Product',action:'StaticHtml',viewName:'NewYear' }" Constraints ="" Namespaces="" />
  <Route Name="StaticHtml" Url ="static/{viewName}-{ulrInfo}.html" Defaults ="{ controller:'Product',action:'StaticHtml' }" Constraints ="{viewName:'[a-zA-z]+'}" Namespaces="" />
</Routes>
