@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div id="main">
		<div class="search_error_title">
			<h3 class="font26"><ins class="grey"></ins>No product matches for:  Geytonto</h3>
			<p class="font20">Refine your search or browse through the collection...</p>		
		</div>
		<div class="search_error_cont">
			<dl>
				<dt>Kind Recommendation:</dt>
				<dd><span>-</span><p>Check the words you entered to make sure it's correct.</p></dd>
				<dd><span>-</span><p>You may search through the categories on the left of this page.</p></dd>
				<dd><span>-</span><p>Welcome to find what you want by <a href="#" class="fblue">Sourcing</a>. There you could tell us what you want freely.</p></dd>
				<dd><span>-</span><p>Use the similar words with different spelling.</p></dd>
			</dl>
			<ul>
				<li><ins class="sourcing"></ins><a href="#">Sourcing</a></li>
				<li><ins class="contact"></ins><a href="#">Contact Us</a></li>
				<li><ins class="cart"></ins><a href="#">Continue Shopping</a></li>
			</ul>
		</div>
		<h2 class="font14">Or you may prefer to start from here</h2>
		<div class="search_error_banner">
			<a href="#"><img src="pro-ad/min-banner.jpg" /></a><a href="#" class="banner_rt"><img src="pro-ad/min-banner.jpg" /></a>
			<a href="#"><img src="pro-ad/min-banner.jpg" /></a><a href="#" class="banner_rt"><img src="pro-ad/min-banner.jpg" /></a>
		</div>		
	</div>
	<div class="clearfix"></div>