@model string 
@*图片名称*@
   <div class="products_list_popup">
        <i class="left"></i>
        <em class="left"></em>
        <img src="../Images/loading.gif" data-original="@ImageHelper.GetImageUrl(Model, 300)"/>
    </div>