@*商品列表开始*@
<h2 class="font14 account_title">Items Reviews
            <div class="action_cont"><a href="#" class="btn_orange btn_p30">Quick Reorder</a></div>
</h2>
<div class="account_order_text">
    <p class="lf">Total:<strong class="fred">113</strong>items</p>
    <p class="rt"><strong>Total: <span class="fred">USD 2000.46</span></strong></p>
</div>
<div class="item_title_cont">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th class="item_img">Image</th>
            <th class="item_name">Description</th>
            <th class="item_price">Price</th>
            <th class="item_qty">Qty.</th>
            <th class="item_qty">Shipped Qty</th>
            <th class="item_subtotal">Subtotal</th>
            <th class="item_action">Action</th>
        </tr>
    </table>
</div>
<div class="item_content_cont">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="item_img"><a href="#">
                <img src="pro-ad/pro_item_review.jpg" /></a></td>
            <td class="item_name">
                <h5><a href="#">Wood Handle Steel Crochet Hooks Natural 13.5cm x 1.3cm(5 3/8" x 4/8"), 5 PCs (B00001)</a></h5>
                <p class="fgrey">
                    Product No: B00001   
                    <br />
                    Gross Weight: 60g
                </p>
            </td>
            <td class="item_price">
                <p>USD 113.30</p>
            </td>
            <td class="item_qty">1Pack<span class="backorder">Backorder<br>
                3-5 Days</span></td>
            <td class="item_qty">1Pack</td>
            <td class="item_subtotal">
                <p class="fred">USD 1000.23</p>
            </td>
            <td class="item_action"><a href="#" class="fblue_mid">Download Pic</a><br />
                <a href="#" class="fblue_mid">Add To Cart</a><br />
                <a href="#" class="fblue_mid">Write Reviews</a></td>
        </tr>
        <tr>
            <td><a href="#">
                <img src="pro-ad/pro_item_review.jpg" /></a></td>
            <td class="item_name">
                <h5><a href="#">Wood Handle Steel Crochet Hooks Natural 13.5cm x 1.3cm(5 3/8" x 4/8"), 5 PCs (B00001)</a></h5>
                <p class="fgrey">
                    Product No: B00001   
                    <br />
                    Gross Weight: 60g
                </p>
            </td>
            <td>
                <p>USD 113.30</p>
            </td>
            <td>1Pack</td>
            <td>1Pack</td>
            <td>
                <p class="fred">USD 1000.23</p>
            </td>
            <td><a href="#" class="fblue_mid">Download Pic</a><br />
                <!-- 数量提示文字开始 -->
                <div class="pop_tip" style="display: block;">
                    <div class="tip_cont">
                        <i class="bottom"></i><em class="bottom"></em>
                        Add to cart successfully!  <a class="fblue_mid" href="#">View Cart >></a>
                    </div>
                </div>
                <!-- 数量提示文字结束 -->
                <a href="#" class="fblue_mid">Add To Cart
                </a>
                <br />
                <a href="#" class="fblue_mid">Write Reviews</a></td>
        </tr>
        <tr>
            <td><a href="#">
                <img src="pro-ad/pro_item_review.jpg" /></a></td>
            <td class="item_name">
                <h5><a href="#">Wood Handle Steel Crochet Hooks Natural 13.5cm x 1.3cm(5 3/8" x 4/8"), 5 PCs (B00001)</a></h5>
                <p class="fgrey">
                    Product No: B00001   
                    <br />
                    Gross Weight: 60g
                </p>
            </td>
            <td>
                <p>USD 113.30</p>
            </td>
            <td>1Pack</td>
            <td>1Pack</td>
            <td>
                <p class="fred">USD 1000.23</p>
            </td>
            <td><a href="#" class="fblue_mid">Download Pic</a><br />
                <a href="#" class="fblue_mid">Add To Cart</a><br />
                <a href="#" class="fblue_mid">Write Reviews</a></td>
        </tr>
    </table>
    <!-- 底部翻页开始 -->
    <div class="page">
        <div class="rt pagelist">
            <a href="#">&lt;</a><a href="#">1</a><a class="ellipsis">...</a><a href="#">10</a><a href="#">11</a><a href="#" class="current">12</a><a href="#">13</a><a href="#">14</a><a class="ellipsis">...</a><a href="#">15</a><a class="pagelist_rt" href="#">&gt;</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- 底部翻页结束 -->
</div>
@*商品列表结束*@