<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--*********************Begin配置节*****************-->
  <configSections>
    <!--***************Begin spring配置节************-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <!--***************End spring************-->

    <!--***************客户自定义配置节************-->
    <section name="CustomConfig" type="Com.Panduo.Web.Common.Config.Hander.GeneralConfigurationHandler, SiteCommon" />

    <!--***************Spring用到的Memcached配置节************-->
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler, NHibernate.Caches.MemCache" />

    <!--***************商品Solr搜索配置节************-->
    <section name="productSolrSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--*********************End配置节*******************-->

  <!--***************AppSettings配置节使用独立配置文件************-->
  <appSettings configSource="Config\appSettings.config" />

  <!--***************客户自定义配置节使用独立配置文件************-->
  <CustomConfig configSource="Config\customConfig.config" />

  <!--***************配置节使用独立配置文件************-->
  <productSolrSettings configSource="Config\productSolrSettings.config" />

  <!--***************Begin spring配置************-->
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/ApplicationContent.config" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>
  <!--***************End spring配置************-->

  <!--***************Begin Memcached配置************-->
  <memcache>
    <memcached host="127.0.0.1" port="11211" weight="2" />
  </memcache>
  <!--***************End Memcached配置************-->

  <!--***************Begin system.web配置(通常IIS7以下需要在这里配置)************-->
  <system.web>
    <!--***************是否调试模式配置(正式环境改成false)************-->
    <compilation debug="true" targetFramework="4.0" />

    <!--***************Session存储模式(放在单独的状态服务ASP.NET Session State服务中)************-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />

    <!--***************显示错误页面信息************-->
    <customErrors mode="Off" />

    <!--***************Begin缓存策略(主要是Js和Css的缓存策略)配置************-->
    <caching>
      <!--***************是否开启OutputCache缓存************-->
      <outputCache omitVaryStar="true" enableOutputCache="true"></outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--***************设置Js服务器缓存信息:duration:缓存时间(单位:秒)Location:缓存位置;varyByParam:更新缓存参数,enabled:缓存策略是否启用************-->
          <add name="JsCacheProfile" duration="2592000" location="Any" varyByParam="none" enabled="true" />
          <!--***************设置Css服务器缓存信息:duration:缓存时间(单位:秒)Location:缓存位置;varyByParam:更新缓存参数,enabled:缓存策略是否启用************-->
          <add name="CssCacheProfile" duration="2592000" location="Any" varyByParam="none" enabled="true" />
          <!--***************设置产品服务器缓存信息:duration:缓存时间(单位:秒)Location:缓存位置;varyByParam:更新缓存参数,enabled:缓存策略是否启用************-->
          <add name="ProductCacheProfile" duration="600" location="Client" varyByParam="*" enabled="false" />
          <!--***************设置首页服务器缓存信息:duration:缓存时间(单位:秒)Location:缓存位置;varyByParam:更新缓存参数,enabled:缓存策略是否启用************-->
          <add name="HomeCacheProfile" duration="3600" location="Client" varyByParam="*" enabled="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--***************End缓存策略(主要是Js和Css的缓存策略)配置************-->

    <!--***************设置所有cookie的域名************-->
    <httpModules>
      <!--<add name="crossDomainCookie" type="Com.Panduo.Web.Common.CrossDomainCookie, SiteCommon"/>-->
    </httpModules>

    <!--***************页面默认命名空间(设置以后所有页面可用不用单独用using引用)************-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <!--***************设置运行时参数（最大请求超时等）************-->
    <httpRuntime maxRequestLength="524288000" executionTimeout="3600" relaxedUrlToFileSystemMapping="true" requestValidationMode="2.0" enableVersionHeader="false" />
  </system.web>
  <!--***************End system.web配置************-->

  <!--***************End system.webServer配置(IIS7以后需要配置下面的参数)************-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="AccessForbidden-ConfigFile" />
      <remove name="AccessForbidden-LogFile" />
      <remove name="FontFile" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="FontFile" path="/Font/*" verb="*" modules="StaticFileModule" resourceType="Unspecified" requireAccess="Script" />
      <add name="AccessForbidden-ConfigFile" path="/Config/*" verb="*" type="System.Web.HttpNotFoundHandler"/>
      <add name="AccessForbidden-LogFile" path="/Log/*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </handlers>

    <!--***************静态文件缓存配置************-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" cacheControlCustom="public" />
    </staticContent>

    <caching>
      <profiles>
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="30.00:00:00" location="Client" />
        <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="30.00:00:00" location="Client" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="30.00:00:00" location="Client" />
        <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="30.00:00:00" location="Client" />
        <add extension=".css" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="30.00:00:00" location="Client" />
      </profiles>
    </caching>
  </system.webServer>
  <!--***************End system.webServer配置************-->
</configuration>
