<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
    <property name="Locations">
      <list>
        <value>file://~/Config/depoly.config</value>
      </list>
    </property>
    <property name="ConfigSections" value="spring-config"/>
  </object>
  
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/NHibernate.config"/>
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service.config"/>
</objects>