<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database" 
         default-autowire="byName">

  <!-- 数据库和Nhibernate的相关配置 -->
  <db:provider id="DbProvider"
                   provider="System.Data.SqlClient"
                   connectionString="Data Source=${db.datasource};Database=${db.database};User Id=${db.user};Password=${db.password};"/>
 
  <object id="NHibernateSessionFactory" type="Com.Panduo.ServiceImpl.LocalSessionFactoryObject,ServiceImpl">
    <property name="DbProvider" ref="DbProvider"/>
    <property name="EntityAssemblyNames">
      <list>
        <value>Entity</value>
      </list>
    </property>
    <!--<property name="MappingAssemblies">
      <list>
        <value>Entity</value>
      </list>
    </property>-->
    <property name="HibernateProperties">
      <dictionary>
        <entry key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
        <entry key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
        <entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
        <entry key="show_sql" value="false" />
        <entry key="adonet.batch_size" value="50"/>
        <entry key="command_timeout" value="300"/>
        <entry key="query.substitutions" value="true 1, false 0, yes 'Y', no 'N"/>

        <!--Nhibernate-->
        <entry key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
        <entry key="hibernate.show_sql" value="false" />
        <entry key="hibernate.format_sql" value="false"/>
        
        <!--<entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />-->
        <!--二级缓存-->
        <entry key="cache.provider_class" value="NHibernate.Caches.MemCache.MemCacheProvider,NHibernate.Caches.MemCache" />
        <!--<entry key="cache.provider_class" value="NHibernate.Cache.HashtableCacheProvider,NHibernate" />-->
        <entry key="cache.use_second_level_cache" value="false" />
        <entry key="cache.use_query_cache" value="false" />
        <entry key="cache.default_expiration" value="3000" />
        <entry key="cache.region_prefix" value="8seasons" /> 
      </dictionary>
    </property>
    <property name="ExposeTransactionAwareSessionFactory" value="true" />
  </object>
 
  <object id="HibernateTemplate" type="Spring.Data.NHibernate.Generic.HibernateTemplate">
    <property name="SessionFactory" ref="NHibernateSessionFactory" />
    <property name="TemplateFlushMode" value="Auto" />
    <property name="CacheQueries" value="true" />
  </object>

  <object id="transactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="DbProvider" />
    <property name="SessionFactory" ref="NHibernateSessionFactory"/>
  </object> 
  
  <object  type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator,Spring.Aop">
    <property name="ObjectNames">
      <list>
        <value>*Service</value>
      </list>
    </property>
    <property name="interceptorNames">
      <list>
        <value>transactionInterceptorName</value>
      </list>
    </property>
  </object>
  <!--拦截器,定义事务策略-->
  <object id="transactionInterceptorName" type="Spring.Transaction.Interceptor.TransactionInterceptor,Spring.Data">
    <property name="transactionAttributes">
      <name-values>
        <add key="Get*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="Find*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="AdminFind*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="Load*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="Search*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="Is*" value="PROPAGATION_REQUIRED,readOnly"/>
        <add key="SendCoupon*" value="PROPAGATION_REQUIRES_NEW"/>
        <add key="*" value="PROPAGATION_REQUIRED"/>
      </name-values>
    </property>
    <property name="transactionManager">
      <ref local="transactionManager" />
    </property>
  </object>
</objects>