<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  
  <object id="ProductService" type="Com.Panduo.ServiceImpl.Product.ProductService,ServiceImpl"/> 
  <object id="ProductImageService" type="Com.Panduo.ServiceImpl.Product.ProductImageService,ServiceImpl"/>
  
  <object id="DailydealProductDao" type="Com.Panduo.ServiceImpl.Product.Dao.DailydealProductDao,ServiceImpl"/>
  <object id="HotProductDao" type="Com.Panduo.ServiceImpl.Product.Dao.HotProductDao,ServiceImpl"/>
  <object id="ProductStockDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductStockDao,ServiceImpl"/>
  <object id="ProductAlsoboughtDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductAlsoboughtDao,ServiceImpl"/>
  <object id="ProductCategorieDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductCategorieDao,ServiceImpl"/>
  <object id="ProductClickDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductClickDao,ServiceImpl"/>
  <object id="ProductDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductDao,ServiceImpl"/>
  <object id="ProductDescDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductDescDao,ServiceImpl"/>
  <object id="ProductImageDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductImageDao,ServiceImpl"/>
  <object id="UnitDescDao" type="Com.Panduo.ServiceImpl.Product.Dao.UnitDescDao,ServiceImpl"/>
  <object id="UnitDao" type="Com.Panduo.ServiceImpl.Product.Dao.UnitDao,ServiceImpl"/>
  <object id="ProductMatchDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductMatchDao,ServiceImpl"/>
  <object id="ProductPropertyValueDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductPropertyValueDao,ServiceImpl"/>
  <object id="ProductQuantityPriceDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductQuantityPriceDao,ServiceImpl"/>
  <object id="ProductSaleDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductSaleDao,ServiceImpl"/>
  <object id="ProductsOtherpackDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductsOtherpackDao,ServiceImpl"/>
  <object id="ProductSearchLogDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductSearchLogDao,ServiceImpl"/>
  <object id="ProductSimilarIgnoreDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductSimilarIgnoreDao,ServiceImpl"/>
  <object id="ProductSimilarIgnoreViewDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductSimilarIgnoreViewDao,ServiceImpl"/>
  <object id="ProductPriceRiseDao" type="Com.Panduo.ServiceImpl.Product.Dao.ProductPriceRiseDao,ServiceImpl"/>
  <object id="OemSourcingDao" type="Com.Panduo.ServiceImpl.Product.Dao.OemSourcingDao,ServiceImpl"/>
</objects>
