<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  <object id="SuggestionService" type="Com.Panduo.ServiceImpl.Suggestion.SuggestionService,ServiceImpl"/>
  <object id="CustomerSuggestionAttachmentDao" type="Com.Panduo.ServiceImpl.Suggestion.Dao.CustomerSuggestionAttachmentDao,ServiceImpl"/>
  <object id="CustomerSuggestionContentDao" type="Com.Panduo.ServiceImpl.Suggestion.Dao.CustomerSuggestionContentDao,ServiceImpl"/>
  <object id="CustomerSuggestionDetailDao" type="Com.Panduo.ServiceImpl.Suggestion.Dao.CustomerSuggestionDetailDao,ServiceImpl"/>
  <object id="CustomerSuggestionItemDao" type="Com.Panduo.ServiceImpl.Suggestion.Dao.CustomerSuggestionItemDao,ServiceImpl"/>
  <object id="CustomerSuggestionObjectsDao" type="Com.Panduo.ServiceImpl.Suggestion.Dao.CustomerSuggestionObjectsDao,ServiceImpl"/>
</objects>