<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  <object id="PaymentService" type="Com.Panduo.ServiceImpl.Payment.PaymentService,ServiceImpl"/>

  <object id="OrderPaymentLogDao" type="Com.Panduo.ServiceImpl.Payment.Dao.OrderPaymentLogDao,ServiceImpl"/>
  <object id="PaymentLogBankOfChinaDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogBankOfChinaDao,ServiceImpl"/>
  <object id="PaymentLogGcDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogGcDao,ServiceImpl"/>
  <object id="GlobalCollectDisabledCountryDao" type="Com.Panduo.ServiceImpl.Payment.Dao.GlobalCollectDisabledCountryDao,ServiceImpl"/>
  <object id="PaymentLogHsbcDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogHsbcDao,ServiceImpl"/>
  <object id="PaymentLogMoneyGramDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogMoneyGramDao,ServiceImpl"/>
  <object id="PaymentLogOceanPaymentDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogOceanPaymentDao,ServiceImpl"/>
  <object id="PaymentLogPaypalDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogPaypalDao,ServiceImpl"/>
  <object id="PaymentLogWesternUnionDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentLogWesternUnionDao,ServiceImpl"/>
  <object id="RandGcDao" type="Com.Panduo.ServiceImpl.Payment.Dao.RandGcDao,ServiceImpl"/>
  <object id="PaymentEnabledCustomerDao" type="Com.Panduo.ServiceImpl.Payment.Dao.PaymentEnabledCustomerDao,ServiceImpl"/>
  
</objects>