<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  
  
  <object id="SystemService" type="Com.Panduo.ServiceImpl.SiteConfigure.SystemService,ServiceImpl" singleton="true"/>
  
  <object id="ConfigureService" type="Com.Panduo.ServiceImpl.SiteConfigure.ConfigureService,ServiceImpl" singleton="true"/>
  <object id="AreaCountryDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.AreaCountryDao,ServiceImpl"/>
  <object id="ConfigDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.ConfigDao,ServiceImpl"/>
  <object id="CountryAreaDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryAreaDao,ServiceImpl"/>
  <object id="CountryAreaDescriptionDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryAreaDescriptionDao,ServiceImpl"/>
  <object id="CountryContinentDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryContinentDao,ServiceImpl"/>
  <object id="CountryDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryDao,ServiceImpl"/>
  <object id="CountryDescriptionDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryDescriptionDao,ServiceImpl"/>
  <object id="CountryProvinceDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryProvinceDao,ServiceImpl"/>
  <object id="CountryProvinceDescriptionDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryProvinceDescriptionDao,ServiceImpl"/>
  <object id="CountryCityDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryCityDao,ServiceImpl"/>
  <object id="CountryCityDescriptionDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryCityDescriptionDao,ServiceImpl"/>
  <object id="CountryHighRiskDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryHighRiskDao,ServiceImpl"/>
  <object id="CurrencyDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CurrencyDao,ServiceImpl"/>
  <object id="CurrencyLogDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CurrencyLogDao,ServiceImpl"/>
  <object id="LanguageDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.LanguageDao,ServiceImpl"/>
  <object id="SearchKeywordDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.SearchKeywordDao,ServiceImpl"/>
  <object id="IpWhiteBlackListDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.IpWhiteBlackListDao,ServiceImpl"/>
  <object id="AddressFormatDao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.AddressFormatDao,ServiceImpl"/>
  <object id="CountryIp1Dao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryIp1Dao,ServiceImpl"/>
  <object id="CountryIp2Dao" type="Com.Panduo.ServiceImpl.SiteConfigure.Dao.CountryIp2Dao,ServiceImpl"/>

</objects>