<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="CouponService" type="Com.Panduo.ServiceImpl.Coupon.CouponService,ServiceImpl" />
  <object id="CouponDao" type="Com.Panduo.ServiceImpl.Coupon.Dao.CouponDao,ServiceImpl"/>
  <object id="CouponDescDao" type="Com.Panduo.ServiceImpl.Coupon.Dao.CouponDescDao,ServiceImpl"/>
  <object id="CouponCustomerDao" type="Com.Panduo.ServiceImpl.Coupon.Dao.CouponCustomerDao,ServiceImpl"/>
  <object id="CouponCustomerViewDao" type="Com.Panduo.ServiceImpl.Coupon.Dao.CouponCustomerViewDao,ServiceImpl"/>
</objects>