<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="ShippingService" type="Com.Panduo.ServiceImpl.Order.ShippingOption.ShippingService,ServiceImpl" />
  <object id="CustomsNoDao" type="Com.Panduo.ServiceImpl.Order.ShippingOption.Dao.CustomsNoDao,ServiceImpl"/>
  <object id="ShippingDao" type="Com.Panduo.ServiceImpl.Shipping.Dao.ShippingDao,ServiceImpl"/>
  <object id="ShippingDescDao" type="Com.Panduo.ServiceImpl.Shipping.Dao.ShippingDescDao,ServiceImpl"/>
  <object id="ShippingDayDao" type="Com.Panduo.ServiceImpl.Shipping.Dao.ShippingDayDao,ServiceImpl"/>
</objects>