<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="PromotionService" type="Com.Panduo.ServiceImpl.Product.Promotion.PromotionService,ServiceImpl" />
  <object id="PromotionDao" type="Com.Panduo.ServiceImpl.Product.Promotion.Dao.PromotionDao,ServiceImpl"/>
  <object id="PromotionDescDao" type="Com.Panduo.ServiceImpl.Product.Promotion.Dao.PromotionDescDao,ServiceImpl"/>
  <object id="PromotionProductDao" type="Com.Panduo.ServiceImpl.Product.Promotion.Dao.PromotionProductDao,ServiceImpl"/>
 
</objects>
