<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="MailService" type="Com.Panduo.ServiceImpl.SystemMail.MailService,ServiceImpl" />
  <object id="EmailProduceLogDao" type="Com.Panduo.ServiceImpl.SystemMail.Dao.EmailProduceLogDao,ServiceImpl"/>
  <object id="EmailLogoDao" type="Com.Panduo.ServiceImpl.SystemMail.Dao.EmailLogoDao,ServiceImpl"/>
  <object id="EmailConfigDao" type="Com.Panduo.ServiceImpl.SystemMail.Dao.EmailConfigDao,ServiceImpl"/>
</objects>