<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  <object id="MarketingService" type="Com.Panduo.ServiceImpl.Marketing.MarketingService,ServiceImpl"/>
  <object id="MarketingCouponDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingCouponDao,ServiceImpl"/>
  <object id="MarketingCustomerClaimDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingCustomerClaimDao,ServiceImpl"/>
  <object id="MarketingDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingDao,ServiceImpl"/>
  <object id="MarketingFreeShippingDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingFreeShippingDao,ServiceImpl"/>
  <object id="MarketingOrderDiscountDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingOrderDiscountDao,ServiceImpl"/>
  <object id="MarketingPlaceOrderDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingPlaceOrderDao,ServiceImpl"/>
  <object id="MarketingShippingDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingShippingDao,ServiceImpl"/>
  <object id="MarketingShippingDiscountDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingShippingDiscountDao,ServiceImpl"/>
  <object id="MarketingShippingUpgradeDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingShippingUpgradeDao,ServiceImpl"/>
  <object id="VMarketingCouponDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.VMarketingCouponDao,ServiceImpl"/>
  <object id="VMarketingMarketingShippingDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.VMarketingMarketingShippingDao,ServiceImpl"/>
  <object id="MarketingGiftDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.MarketingGiftDao,ServiceImpl"/>
  <object id="VMarketingGiftDao" type="Com.Panduo.ServiceImpl.Marketing.Dao.VMarketingGiftDao,ServiceImpl"/>
</objects>