<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" default-autowire="byName">

  <!--1.加载业务参数配置-->
  <object id="ServiceConfig" type="Com.Panduo.Service.ServiceConst.ServiceConfig,Service" singleton="true" >
    <property name="IsLoadCacheInit" value="${IsLoadCacheInit}"/>
    <property name="IsLoadProductCacheInit" value="${IsLoadProductCacheInit}"/>
    <property name="LangId" value="${LangId}"/>
    <property name="Lang" value="${Lang}"/>
    <property name="EnglishLangId" value="${EnglishLangId}"/>
    <property name="DefaultCountrySimpleCode2" value="${DefaultCountrySimpleCode2}"/>
    <property name="PaymentConfigFileFullPath" value="${PaymentConfigFileFullPath}"/>
    <property name="IsIpAddressLimit" value="${IsIpAddressLimit}"/>
    <property name="AnonymousUsersShoppingcartCount" value="${AnonymousUsersShoppingcartCount}"/>
    <property name="ImageUrl" value="${ImageUrl}"/>
    <property name="ImageBatchUrl" value="${ImageBatchUrl}"/>
    <property name="ErrorMail" value="${ErrorMail}"/>
    <property name="SuggestionMail" value="${SuggestionMail}"/>
    <property name="SystemMail" value="${SystemMail}"/>
    <property name="CustomersAddressMaxCount" value="${CustomersAddressMaxCount}"/>
    <property name="RecentlyViewedMaxCount" value="${RecentlyViewedMaxCount}"/>
    <property name="SiteContactMailBox" value="${SiteContactMailBox}"/>
    <property name="SiteContactSkype" value="${SiteContactSkype}"/>
    <property name="SiteContactTelephone" value="${SiteContactTelephone}"/>
    <property name="SiteIpLibrary" value="${SiteIpLibrary}"/>
    <property name="MailTemplate" value="${MailTemplate}"/>
    <property name="AmountTolerance" value="${AmountTolerance}"/>
    <property name="PayByPaypalUseUsd" value="${PayByPaypalUseUsd}"/>
    <property name="RequestTimeout" value="${RequestTimeout}"/>
    <property name="AdminModifyTime" value="${AdminModifyTime}"/>
    
    <!--<property name="SiteLanguageCode" value="${SiteLanguageCode}"/>
    <property name="IsPromotion" value="${IsPromotion}"/>
    <property name="SolrUrl" value="${SolrUrl}"/>
    <property name="MemcacheUrl" value="${MemcacheUrl}"/>-->
    
    <property name="ConnectionString" value="Data Source=${db.datasource};Initial Catalog=${db.database};User Id=${db.user};Password=${db.password};"/>
  </object>
  
  <!--2.加载各模块服务配置信息-->
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-AdminUser.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Category.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-SEO.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Review.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-WishList.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Suggestion.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-SiteConfigure.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Help.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Marketing.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Banner.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Message.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Newsletter.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Order.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Payment.config" /> 
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Product.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Property.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-SiteConfigure.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Promotion.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-ProductArea.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Dailydeal.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-ShoppingCart.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Shipping.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Customer.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Club.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Coupon.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-CustomerProduct.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-ClubProduct.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-SystemMail.config" />
  <import resource="assembly://ServiceImpl/Com.Panduo.ServiceImpl.Config/Service-Article.config" />

  <!--3.该对象需要放在最后-->
  <object id="ServiceFactory" type="Com.Panduo.Service.ServiceFactory,Service" singleton="true" init-method="Init" />
</objects>
