<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="ClubService" type="Com.Panduo.ServiceImpl.Customer.Club.ClubService,ServiceImpl" />
  <object id="ClubCustomerDao" type="Com.Panduo.ServiceImpl.Customer.Club.Dao.ClubCustomerDao,ServiceImpl"/>
  <object id="ClubCustomerViewDao" type="Com.Panduo.ServiceImpl.Customer.Club.Dao.ClubCustomerViewDao,ServiceImpl"/>
  <object id="ClubFeeDao" type="Com.Panduo.ServiceImpl.Customer.Club.Dao.ClubFeeDao,ServiceImpl"/>
  <object id="ClubBlackListDao" type="Com.Panduo.ServiceImpl.Customer.Club.Dao.ClubBlackListDao,ServiceImpl"/>
</objects>