<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  <object id="TopKeywordService" type="Com.Panduo.ServiceImpl.SEO.TopKeywordService,ServiceImpl"/>
  <object id="TopKeywordDao" type="Com.Panduo.ServiceImpl.SEO.Dao.TopKeywordDao,ServiceImpl"/>
  <object id="TopKeywordSubjectDao" type="Com.Panduo.ServiceImpl.SEO.Dao.TopKeywordSubjectDao,ServiceImpl"/>
  <object id="MetaService" type="Com.Panduo.ServiceImpl.SEO.MetaService,ServiceImpl"/>
  <object id="MetaHomeDao" type="Com.Panduo.ServiceImpl.SEO.Dao.MetaHomeDao,ServiceImpl"/>
  <object id="MetaListDao" type="Com.Panduo.ServiceImpl.SEO.Dao.MetaListDao,ServiceImpl"/>
  <object id="MetaAreaDao" type="Com.Panduo.ServiceImpl.SEO.Dao.MetaAreaDao,ServiceImpl"/>
</objects>