<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
    <object id="OrderService" type="Com.Panduo.ServiceImpl.Order.OrderService,ServiceImpl"/>
  <object id="OrderAddressDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderAddressDao,ServiceImpl"/>
  <object id="OrderDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderDao,ServiceImpl"/>
  <object id="OrderDetailDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderDetailDao,ServiceImpl"/>
  <object id="OrderOutOfStockDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderOutOfStockDao,ServiceImpl"/>
  <object id="PackageDao" type="Com.Panduo.ServiceImpl.Order.Dao.PackageDao,ServiceImpl"/>
  <object id="PackageDetailDao" type="Com.Panduo.ServiceImpl.Order.Dao.PackageDetailDao,ServiceImpl"/>
  <object id="OrderPayStatusDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderPayStatusDao,ServiceImpl"/>
  <object id="OrderPayStatusDescriptionDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderPayStatusDescriptionDao,ServiceImpl"/>
  <object id="OrderPriceDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderPriceDao,ServiceImpl"/>
  <object id="OrderSnapshotDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderSnapshotDao,ServiceImpl"/>
  <object id="OrderStatusDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderStatusDao,ServiceImpl"/>
  <object id="OrderStatusDescriptionDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderStatusDescriptionDao,ServiceImpl"/>
  <object id="OrderStatusHistoryDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderStatusHistoryDao,ServiceImpl"/>
  <object id="OrderPaymentAmountLogDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderPaymentAmountLogDao,ServiceImpl"/>
  <object id="SpecialOrderDao" type="Com.Panduo.ServiceImpl.Order.Dao.SpecialOrderDao,ServiceImpl"/>
  <object id="OrderRemarkByAdminDao" type="Com.Panduo.ServiceImpl.Order.Dao.OrderRemarkByAdminDao,ServiceImpl"/>

</objects>