<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
  <object id="ReviewService" type="Com.Panduo.ServiceImpl.Review.ReviewService,ServiceImpl"/>
  <object id="ReviewProductDao" type="Com.Panduo.ServiceImpl.Review.Dao.ReviewProductDao,ServiceImpl"/>
  <object id="ReviewWebsiteDao" type="Com.Panduo.ServiceImpl.Review.Dao.ReviewWebsiteDao,ServiceImpl"/>
  <object id="ReviewWebsiteCustomerViewDao" type="Com.Panduo.ServiceImpl.Review.Dao.ReviewWebsiteCustomerViewDao,ServiceImpl"/>
  <object id="ReviewProductCustomerViewDao" type="Com.Panduo.ServiceImpl.Review.Dao.ReviewProductCustomerViewDao,ServiceImpl"/>
  <object id="NotReviewProductViewDao" type="Com.Panduo.ServiceImpl.Review.Dao.NotReviewProductViewDao,ServiceImpl"/>
</objects>