<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="CategoryService" type="Com.Panduo.ServiceImpl.Product.Category.CategoryService,ServiceImpl" />
  <object id="CategoryAdDao" type="Com.Panduo.ServiceImpl.Product.Category.Dao.CategoryAdDao,ServiceImpl"/>
  <object id="CategoryDao" type="Com.Panduo.ServiceImpl.Product.Category.Dao.CategoryDao,ServiceImpl"/>
  <object id="CategoryDescDao" type="Com.Panduo.ServiceImpl.Product.Category.Dao.CategoryDescDao,ServiceImpl"/>
  <object id="CategoryKeywordDao" type="Com.Panduo.ServiceImpl.Product.Category.Dao.CategoryKeywordDao,ServiceImpl"/>
  <object id="CategoryPropertyDao" type="Com.Panduo.ServiceImpl.Product.Category.Dao.CategoryPropertyDao,ServiceImpl"/>
</objects>