<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="ShoppingCartService" type="Com.Panduo.ServiceImpl.Order.ShoppingCart.ShoppingCartService,ServiceImpl" />
  <object id="ShoppingCartDao" type="Com.Panduo.ServiceImpl.Order.ShoppingCart.Dao.ShoppingCartDao,ServiceImpl"/>
  <object id="VShoppingCartDao" type="Com.Panduo.ServiceImpl.Order.ShoppingCart.Dao.VShoppingCartDao,ServiceImpl"/>
  <object id="AutoCookieIdDao" type="Com.Panduo.ServiceImpl.Order.ShoppingCart.Dao.AutoCookieIdDao,ServiceImpl"/>
  <object id="VshoppingCartUnAvailablDao" type="Com.Panduo.ServiceImpl.Order.ShoppingCart.Dao.VshoppingCartUnAvailablDao,ServiceImpl"/>
</objects>