<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" default-autowire="byName">
  <object id="AdminUserService" type="Com.Panduo.ServiceImpl.AdminUser.AdminUserService,ServiceImpl" />
  <object id="AdminDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminDao,ServiceImpl" />
  <object id="AdminRoleDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminRoleDao,ServiceImpl" />
  <object id="AdminPasswordUsedDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminPasswordUsedDao,ServiceImpl" />
  <object id="AdminMenuDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminMenuDao,ServiceImpl" />
  <object id="AdminModuleDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminModuleDao,ServiceImpl" />
  <object id="AdminUserModuleDao" type="Com.Panduo.ServiceImpl.AdminUser.Dao.AdminUserModuleDao,ServiceImpl" />

</objects>
