<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="PropertyService" type="Com.Panduo.ServiceImpl.Product.Property.PropertyService,ServiceImpl" />
  <object id="PropertyDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyDao,ServiceImpl"/>
  <object id="PropertyDescDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyDescDao,ServiceImpl"/>
  <object id="PropertyValueDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyValueDao,ServiceImpl"/>
  <object id="PropertyValueDescDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyValueDescDao,ServiceImpl"/>
  <object id="PropertyValueGroupDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyValueGroupDao,ServiceImpl"/>
  <object id="PropertyValueGroupDescDao" type="Com.Panduo.ServiceImpl.Product.Property.Dao.PropertyValueGroupDescDao,ServiceImpl"/>
</objects>