<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">

  <object id="ClubProductService" type="Com.Panduo.ServiceImpl.Product.ClubProduct.ClubProductService,ServiceImpl" />
  <object id="ClubProductDao" type="Com.Panduo.ServiceImpl.Product.ClubProduct.Dao.ClubProductDao,ServiceImpl"/>
  <object id="ClubProductViewDao" type="Com.Panduo.ServiceImpl.Product.ClubProduct.Dao.ClubProductViewDao,ServiceImpl"/>
 
</objects>
