<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net   
        http://www.springframework.net/xsd/spring-objects.xsd" default-autowire="byName">
    <object id="TicketReplyAttachmentDao" type="Com.Panduo.ServiceImpl.Message.Dao.TicketReplyAttachmentDao,ServiceImpl"/>
  <object id="TicketReplyDao" type="Com.Panduo.ServiceImpl.Message.Dao.TicketReplyDao,ServiceImpl"/>
  <object id="TicketTopicAttachmentDao" type="Com.Panduo.ServiceImpl.Message.Dao.TicketTopicAttachmentDao,ServiceImpl"/>
  <object id="TicketTopicDao" type="Com.Panduo.ServiceImpl.Message.Dao.TicketTopicDao,ServiceImpl"/>
</objects>