@using Resources
@{
    Layout = null;
}
<style type="text/css">
    BODY { font: 8pt/12pt verdana; }
    H1 { font: 13pt/15pt verdana; }
    H2 { font: 8pt/12pt verdana; }
    A:link { color: red; }
    A:visited { color: maroon; }
</style>

<table width=500 border=0 cellspacing=10>
    <tr>
        <td> 
            @Lang.TipIpCheckErrorMsg
        </td>
    </tr>
</table>