@{
    Layout = null;
}
@model Com.Panduo.Service.Order.Order

<form name="DeleteorderForm" id="DeleteorderForm" action="/Order/Delete" method="post" onsubmit="return false;">
    <table class="table">
        <tr>
            <td width="20%">订单号：</td>
            <td>
                <input type="hidden" name="ids" value="@Model.OrderId"/>
                @Model.OrderNo
            </td>
        </tr>
            @if (!Model.OrderCost.IsNullOrEmpty())
            { 
                <tr>
                <td width="20%">订单总金额：</td>
                <td>
                    @Model.OrderCost.TotalOrderAmt</td>
                </tr>
            }
        <tr>
            <td width="20%">客户信息：</td>
            <td>@ViewBag.FullName</td>
        </tr>
         <tr>
            <td width="20%">
                  <input type="checkbox" value="1" name="ifadd">
            </td>
             <td>将订单中的商品数量加回库存表</td>
        </tr>
    </table>
</form>
