<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Mvc自带配置-->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--Memcached服务地址-->
  <add key="memcached.services" value="127.0.0.1:11211"/>

  <!--是否清除Server的头信息-->
  <add key="IsRemoveServerReponseHeader" value="true"/>
  <!--是否拦截系统错误-->
  <add key="IsSystemExceptionFilter" value="false"/>
  <!--Cookie对应的域名-->
  <add key="CrossDomainCookie" value="8seasons.com"/>

  <!--应用程序版本号-->
  <add key="AppVersion" value="1.0"/>

  <!--是否启用压缩-->
  <add key="IsCompressOn" value="false"/>
  <!--压缩文件Mime类型,逗号分割多个-->
  <add key="CompressableMimeType" value="text/html,text/xml,text/plain,image/png,image/jpeg,image/gif"/>

  <!--404错误路由名称-->
  <add key="PageNotFoundRouteName" value="PageNotFound"/>
  <!--404错误显示视图名称-->
  <add key="PageNotFoundViewName" value="PageNotFound"/>
  <!--500错误路由名称-->
  <add key="SystemErrorRouteName" value="SystemError"/>
  <!--500错误显示视图名称-->
  <add key="SystemErrorViewName" value="SystemError"/>

  <!--**************************以下为Admin配置专用**********************-->
  <!--网站前台地址-->
  <add key="WebDomainHost" value="http://127.0.0.1:8888/"/>
  <!--清除网站缓存Token-->
  <add key="Clear.SiteCache.Token" value="123456"/>
  <!--类别主机地址-->
  <add key="CateogryImageHost" value="http://192.168.3.172:9999"/>
  
  <add key="MailLogoHost" value="http://192.168.3.127:8080"/>
  <!--使用CDN加速以后CDN节点通过节点传递过来的客户原始IPKey名称-->
  <add key="CdnClintIpKey" value="" />-
  <!--本公司外网IP地址-->
  <add key="CompanyIp" value="101.68.66.206" />
</appSettings>