<?xml version="1.0" encoding="utf-8" ?>
<EmailSaveXml>
  
  <!--邮件Xml文件存放路径-->
  <EmailXmlSavePath>D:\EmailXml\Original\</EmailXmlSavePath>
  <!--邮件附件存放路径-->
  <EmailAttachmentSavePath>D:\EmailXml\AttachmentSavePath</EmailAttachmentSavePath>
  
  <!--邮件类型配置-->
  <MailTypeConfig>
    <MailTypeItem Id="50" Desc="Contact Us 发给客户">
      <!--附件保存子文件夹-->
      <AttachmentFolder>ContactUsToCustomer</AttachmentFolder>
      <MessageActionUrl>/MailMessage/ContactUsToCustomerTemplete</MessageActionUrl>
    </MailTypeItem>
    <MailTypeItem Id="55" Desc="Contact Us 发给销售">
      <!--附件保存子文件夹-->
      <AttachmentFolder>ContactUsToSales</AttachmentFolder>
      <MessageActionUrl>/MailMessage/ContactUsToSalesTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="65" Desc="Suggestion邮件模板（客户）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>SuggestionToCustomer</AttachmentFolder>
      <MessageActionUrl>/MailMessage/SuggestionToCustomerTemplete</MessageActionUrl>
    </MailTypeItem>
    <MailTypeItem Id="60" Desc="Suggestion邮件模板（销售）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>SuggestionToSales</AttachmentFolder>
      <MessageActionUrl>/MailMessage/SuggestionToSalesTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="70" Desc="	客户提交头像邮件模板（销售）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>CustomerHead</AttachmentFolder>
      <MessageActionUrl>/MailMessage/CustomerHeadTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="80" Desc="商品详情页面-Review（销售）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>CustomerReview</AttachmentFolder>
      <MessageActionUrl>/MailMessage/CustomerReviewTemplete</MessageActionUrl>
    </MailTypeItem>


    <MailTypeItem Id="90" Desc="商品详情页面Ask a question(销售)">
      <!--附件保存子文件夹-->
      <AttachmentFolder>CustomerAskQuestion</AttachmentFolder>
      <MessageActionUrl>/MailMessage/CustomerAskQuestionTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="100" Desc="提交线下支付信息的邮件（销售）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>MakePaymentToSales</AttachmentFolder>
      <MessageActionUrl>/MailMessage/MakePaymentToSalesTemplete</MessageActionUrl>
    </MailTypeItem>


    <MailTypeItem Id="105" Desc="提交线下支付信息的邮件（客户）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>MakePaymentToCustomer</AttachmentFolder>
      <MessageActionUrl>/MailMessage/MakePaymentToCustomerTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="110" Desc="	忘记密码邮件模板（客户）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>ForgetPwd</AttachmentFolder>
      <MessageActionUrl>/MailMessage/ForgetPwdTemplete</MessageActionUrl>
    </MailTypeItem>

    <MailTypeItem Id="160" Desc="	Testimonial邮件模板（销售）">
      <!--附件保存子文件夹-->
      <AttachmentFolder>Testimonial</AttachmentFolder>
      <MessageActionUrl>/MailMessage/TestimonialTemplete</MessageActionUrl>
    </MailTypeItem>


    <MailTypeItem Id="170" Desc="OEM and Sourcing邮件发给销售">
      <!--附件保存子文件夹-->
      <AttachmentFolder>OEMAndSourcingToSales</AttachmentFolder>
      <MessageActionUrl>/MailMessage/SourcingInformationToSalesTemplete</MessageActionUrl>
    </MailTypeItem>
    <MailTypeItem Id="175" Desc="	OEM and Sourcing邮件发给客户">
      <!--附件保存子文件夹-->
      <AttachmentFolder>OEMAndSourcingToCustomer</AttachmentFolder>
      <MessageActionUrl>/MailMessage/CustomerSourcingInformation</MessageActionUrl>
    </MailTypeItem>
    <MailTypeItem Id="270" Desc="14天未上线">
      <!--附件保存子文件夹-->
      <AttachmentFolder>ShoppingCartNotUpdate</AttachmentFolder>
      <MessageActionUrl>/MailMessage/ShoppingCartNotUpdateTemplete</MessageActionUrl>
    </MailTypeItem>
  </MailTypeConfig>

</EmailSaveXml>