	<div id="main" class="account_wrap">    	
		<h2 class="font14 account_title">
        	Address Book
        </h2>		
        <div class="address_cont">			
			<h5>Default Shipping Address</h5>			
			<!-- 无地址初始状态开始 -->
			<div class="address_edit" style="display:block;">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<th><span class="fred">*</span>Full Name:</th>
						<td><input class="inputw270 input_text_wrap" type="text" /><div class="fred">This text is a tip text.</div></td>
					</tr>
					<tr>
						<th><span class="fred">*</span>Address Line 1:</th>
						<td><input class="inputw400 input_text_wrap" type="text" /><div class="fred">This text is a tip text.</div></td>
					</tr>
					<tr>
						<th>Address Line 2:</th>
						<td>
							<input class="inputw400 input_text_wrap" type="text" />
							<p><strong class="fred">NOTE:</strong> Please fill in your detailed postal address since some shipping company (such as DHL) do not ship to P.O.BOX. </p>
						</td>
					</tr>
					<tr>
						<th><span class="fred">*</span>Country:</th>
						<td>
							<div class="select_cont select_w235">
								United States
								<div class="pop_select_cont" style="display:block">
									<input name="" type="text" class="input_text_wrap inputw228" />
									<ul>
										<li class="list_line">----------</li>
										<li class="list_item active">France</li>
										<li class="list_item">Germany</li>
										<li class="list_item">Italy</li>
										<li class="list_item">Spain</li>
										<li class="list_item">United Kingdom</li>								
										<li class="list_item">United Satets</li>
										<li class="list_line">----------</li>
										<li class="list_item">Afghanistan</li>
									</ul>
								</div>
							</div>
							<div class="fred">This text is a tip text.</div>
						</td>
					</tr>
					<tr>
						<th><span class="fred">*</span>State/Province/Region:</th>
						<td>
							<div class="select_cont select_w235" style="display:none;"><!-- 当上面下拉框显示的时候，该层div设置为display:none; -->
								United States
								<div class="pop_select_cont"><!-- 选择国家的浮层，div上增加display:block即可显示 -->
									<input name="" type="text" class="input_text_wrap inputw228" />
									<ul>
										<li class="list_line">----------</li>
										<li class="list_item active">France</li>
										<li class="list_item">Germany</li>
										<li class="list_item">Italy</li>
										<li class="list_item">Spain</li>
										<li class="list_item">United Kingdom</li>								
										<li class="list_item">United Satets</li>
										<li class="list_line">----------</li>
										<li class="list_item">Afghanistan</li>
									</ul>
								</div>
							</div>
							<div class="fred">This text is a tip text.</div>
							<p><strong class="fred">NOTE:</strong> It is better to fulfill complete name of State/Province instead of Abbreviation to smooth the delivery.</p>
						</td>
					</tr>
					<tr>
						<th><span class="fred">*</span>State/Province/Region:</th>
						<td>
							<input class="inputw270 input_text_wrap" type="text" />
							<div class="fred">This text is a tip text.</div>
							<p><strong class="fred">NOTE:</strong> It is better to fulfill complete name of State/Province instead of Abbreviation to smooth the delivery. </p>
						</td>
					</tr>
					<tr>
						<th><span class="fred">*</span>city</th>
						<td><input class="inputw270 input_text_wrap" type="text" />
						<div class="fred">This text is a tip text.</div></td>
					</tr>
					<tr>
						<th><span class="fred">*</span>Post/Zip Code:</th>
						<td><input class="inputw270 input_text_wrap" type="text" />
							<div class="fred">This text is a tip text.</div>
						</td>
					</tr>
					<tr>
						<th><span class="fred">*</span>Phone Number:</th>
						<td>
							<input class="inputw270 input_text_wrap" type="text" />
							<div class="fred">This text is a tip text.</div>
							<p>Phone number is required here to facilitate the parcel delivery.</p>
							<p class="fgrey_deep"><label><input type="checkbox" />Set as Default Shipping Address</label></p>
						</td>
					</tr>
					<tr>
						<th></th>
						<td><a class="btn_orange btn_p30" href="#">Save</a><a class="btn_grey btn_p30" href="#">Cancel</a></td>
					</tr>
				</table>
			</div>
			<!-- 无地址初始状态结束 -->			
		</div>
	</div>
	<div class="clearfix"></div>