@using Resources
<div class="service_discount">
    <h3>@Lang.TipSpecialOffers</h3>
    <p><ins class="icon_discount"></ins>@Html.Raw(Lang.TipOrderUpDiscount)</p>
    <p><ins class="icon_vip"></ins>@Html.Raw(Lang.TipVipUpDiscount)</p>
    <p class="text_rt"><a rel="nofollow" class="font_underline" href="#">@Lang.TipLearnMore</a></p>
</div>
