@using Resources
<div class="service_discount">
    <h3>Special Offers</h3>
    <p><ins class="icon_coupon"></ins>@Html.Raw(Lang.TipFreeCoupon)</p>
    <p><ins class="icon_discount"></ins>@Html.Raw(Lang.TipOrderUpDiscount)</p>
    <p><ins class="icon_vip"></ins>@Html.Raw(Lang.TipVipUpDiscount)</p>
    <p class="text_rt"><a class="font_underline" href="#">@Lang.TipLearnMore</a></p>
</div>
