@charset "utf-8";
/**form**/

/**button**/
button,input{ font-family:Verdana, Geneva, sans-serif; background-color:transparent;}
button{ border:none; cursor:pointer;}
.btn_search{ color:#444; width:100px; height:32px; text-align:center; overflow:hidden; cursor:pointer;
	background:#ffbc2c;
	font-size:13px; font-weight:bold;
	background-image: -moz-linear-gradient(top, #ffd953, #ffbc2c); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd953), color-stop(1, #ffbc2c)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd953', endColorstr='#ffbc2c', GradientType='0'); /* IE*/	
	background-image: -o-linear-gradient(top, #ffd953, #ffbc2c); /* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #ffd953, #ffbc2c);/* IE10 */
	background-repeat:repeat-x;}
.btn_orange{ color:#444; border:#df9f26 1px solid; cursor:pointer; font-weight:bold; cursor:pointer;
	background:#ffbc2c;
	background-image: -moz-linear-gradient(top, #ffd953, #ffbc2c); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd953), color-stop(1, #ffbc2c)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd953', endColorstr='#ffbc2c', GradientType='0'); /* IE*/	
	background-image: -o-linear-gradient(top, #ffd953, #ffbc2c); /* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #ffd953, #ffbc2c);/* IE10 */
	background-repeat:repeat-x;}	
.btn_orange:hover{ color:#333; text-decoration:none;}
.btn_grey{color:#333; border:#d3d3d3 1px solid; cursor:pointer;
	background:#efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #efefef); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #efefef)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType='0'); /* IE*/	
	background-image: -o-linear-gradient(top, #ffffff, #efefef); /* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #ffffff, #efefef);/* IE10 */
	background-repeat:repeat-x;}
.btn_grey:hover{ color:#333; text-decoration:none;}
.btn_fb{color:#fff; border:#294a92 1px solid;font-weight:bold;cursor:pointer;	
	background:#3b5999;
	background-image: -moz-linear-gradient(top, #658cdd, #3b5999); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #658cdd), color-stop(1, #3b5999)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#658cdd', endColorstr='#3b5999', GradientType='0'); /* IE*/	
	background-image: -o-linear-gradient(top, #658cdd, #3b5999); /* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #658cdd, #3b5999);/* IE10 */
	background-repeat:repeat-x;}
.btn_fb:hover,.btn_join:hover{color:#fff; text-decoration:none;}
.btn_fb span{display:inline-block;text-align:center;}
.btn_fb ins{display:inline-block;width:6px;height:19px;background:url(../images/icon_service.png)  -2px -169px no-repeat;margin-right:6px;}
.btn_join{
	float:right; display:inline-block; text-align:center; height:22px;line-height:22px; padding:0 15px;
	color:#fff; font-weight:bold; border:#6d6398 1px solid; cursor:pointer;
	background:#9186c0;
	background-image: -moz-linear-gradient(top, #9186c0, #857abc); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9186c0), color-stop(1, #857abc)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9186c0', endColorstr='#857abc', GradientType='0'); /* IE*/	
	background-image: -o-linear-gradient(top, #9186c0, #857abc); /* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #9186c0, #857abc);/* IE10 */
	background-repeat:repeat-x;}


.btn_p30{ display:inline-block; height:28px; line-height:28px; padding:0 30px;}
.btn_p10{ display:inline-block; height:28px; line-height:28px; padding:0 10px;}
.btn_p30_input{ display:inline-block; line-height:26px; *line-height:24px; padding:0 30px; overflow:visible; border:none;}
label.btn_border{ display:inline-block; border:#df9f26 1px solid;}

.btn_w38{display:inline-block;height:22px;width:38px;margin-left:6px;text-align:center;}
.btn_w38_h24{display:inline-block;height:24px;width:38px;margin-left:12px;text-align:center;}
.btn_w30{display:inline-block;height:22px;width:30px;margin-left:6px;text-align:center;}
.btn_w40{ display:inline-block; text-align:center; width:38px; height:24px; line-height:24px;margin-left:12px;}
.btn_w50{display:inline-block;height:22px;width:50px;margin-left:6px;text-align:center;}
.btn_w60{display:inline-block;height:24px; line-height:24px;width:60px;text-align:center;}
.btn_w80{display:inline-block;height:22px;width:80px;line-height:22px;text-align:center; font-weight:normal;}
.btn_w100{ display:inline-block; text-align:center; width:98px; height:24px; line-height:24px;margin-left:12px;}
.btn_w108{display:inline-block;height:28px;line-height:28px;width:108px;margin-left:6px;text-align:center;}
.btn_w110{ display:inline-block; text-align:center; width:110px; height:28px; line-height:28px;}
.btn_w119{display:inline-block;height:22px;width:119px;line-height:22px;text-align:center;}
.btn_w128{display:inline-block;width:123px;height:24px; line-height:24px;padding-left:5px; vertical-align:middle; text-align:center;}
.btn_w144{display:block;width:139px;height:24px; line-height:24px;padding-left:5px;vertical-align:middle;}
.btn_w158{display:inline-block;height:28px;line-height:28px;width:158px;text-align:center;margin-left:20px;}
.btn_w170{display:block;width:168px;height:25px; line-height:25px;vertical-align:middle; padding-top:3px; margin-right:12px; text-align:center;}
.btn_w178{display:inline-block;height:28px;line-height:28px;width:150px;margin-left:8px;padding: 0 19px;}
.btn_w250{display:block;width:248px;height:28px; line-height:28px; text-align:center;}


.btn_success,.btn_success_w144,.btn_success_w175,.btn_success_w119,.btn_success_w170{background-color:#fffbef;border:1px solid #ccc;color:#7fb835;font-weight:bold;padding-left:0;vertical-align:middle;text-align:center;display:block;height:24px; line-height:24px; position:relative;}
.btn_success{text-align:left; height:22px; line-height:22px;}
.btn_success_w144{width:144px;}
.btn_success_w175{width:173px;}
.btn_success_w170{width:168px; height:28px; line-height:28px; margin-right:12px;}
.btn_success_w119{width:119px; }
.btn_success:hover,.btn_success_w144:hover,.btn_success_w175:hover,.btn_success_w119:hover,.btn_success_w170:hover{text-decoration:none;color:#7fb835;}
.btn_removed{border:1px solid #d3d3d3;text-align:center;}
.btn_removed:hover{text-decoration:none;color:#333;}

/**button_icon**/
.btn_cart{display:inline-block;width:24px;height:24px;background:url(../images/icon_shopcart.png) -82px -110px no-repeat;}
.btn_wishlist,.btn_wishlist_current{display:inline-block;width:24px;height:24px;background:url(../images/icon_shopcart.png) -82px -42px no-repeat; cursor:pointer}
.btn_wishlist_current{background:url(../images/icon_shopcart.png) -82px -8px no-repeat;}
.btn_success_cart{display:inline-block;width:21px;height:14px;background:url(../images/icon_shopcart.png) -82px -181px no-repeat;position:relative; top:0;}
.btn_success_cart_big{display:inline-block;width:20px;height:12px;background:url(../images/icon_shopcart.png) -85px -223px no-repeat;position:relative; top:0;}
.btn_update{display:inline-block;width:24px;height:24px;background:url(../images/icon_shopcart.png) -82px -76px no-repeat;}
.btn_backorder{display:inline-block;width:24px;height:24px;background:url(../images/icon_shopcart.png) -82px -144px no-repeat;}
.btn_edit{ display:inline-block; width:16px; height:24px; background:url(../images/icon_system.png) -70px 5px no-repeat;}
.btn_calculator{ display:inline-block; width:12px; height:16px; background:url(../images/icon_system.png) -118px -136px no-repeat; position:relative; top:2px; *top:0px; margin-right:7px;}
.btn_write_review{display:inline-block; width:13px; height:16px; background:url(../images/icon_system.png) -197px -281px no-repeat; position:relative; top:4px; *top:3px; margin-right:7px;}
.btn_add{display:inline-block;width:13px;height:24px;background:url(../images/icon_shopcart.png) -135px -24px no-repeat;}


/**input**/
.input_text_wrap{padding-left:5px;}
.input_text_wrap,.textarea_wrap{background-color:#fff;border:1px solid #ccc;border-top-color:#999;box-shadow:none;}
.inputw29{width:29px;height:22px;}
.inputw35{width:35px;height:24px; line-height:24px; position:relative;*top:-1px;border:1px solid #ccc;vertical-align:top;padding-left:5px; }
.inputw61{width:56px;height:24px;line-height:24px;}
.inputw60{width:56px;height:22px;line-height:22px;}
.inputw80{width:75px;height:28px;line-height:28px;}
.inputw98{width:98px;height:24px;line-height:24px;margin-left:12px;}
.inputw108{width:103px;height:28px;line-height:28px;}
.inputw119{width:114px;height:28px;line-height:28px;}
.inputw130{ width:130px; height:28px; line-height:28px;}
.inputw182{ width:182px; height:26px; line-height:26px; background-color:transparent; border:none;}
.inputw185{ width:185px; height:28px; line-height:28px;}
.inputw228{ width:223px; height:28px; line-height:28px;}
.inputw233{ width:233px; height:28px; line-height:28px;}
.inputw238{ width:238px; height:24px; line-height:24px;}
.inputw248{ width:243px; height:28px; line-height:28px;}
.inputw260{ width:260px; height:28px; line-height:28px;}
.inputw270{width:270px; height:28px; line-height:28px;}
.inputw274{ width:274px; height:28px; line-height:28px; color:#999;}
.inputw290{width:290px; height:28px; line-height:28px;}
.inputw298{ width:258px; height:28px; line-height:28px; padding-left:40px; color:#999;}
.inputw298_error{ width:258px; height:28px; line-height:28px; background-color:#fffdf7; border:#ffbb76 1px solid; padding-left:40px; color:#333;}
.inputw310{ width:310px; height:28px; line-height:28px;}
.inputw337{ width:337px; height:28px; line-height:28px;}
.inputw314{ width:284px; height:30px; line-height:30px; padding-left:30px; border:none; font-size:1em; color:#999;}
.inputw400{width:400px; height:28px; line-height:28px;}
.inputw715{width:715px; height:28px; line-height:28px;}



/**textarea**/
.textarea_wrap{padding:3px 5px; font-family:Verdana;font-size:12px;overflow-y:auto;line-height:20px; resize:none;}
.textarea_w248{ width:238px; height:88px;}
.textarea_w410{width:400px;height:100px; color:#999;}
.textarea_w500{width:494px;height:94px; color:#999;}
.textarea_w580{width:581px;height:94px; color:#999;}
.textarea_w800{width:800px;height:140px;}

/*select*/
.select_cont{ position:relative; z-index:1; height:30px; line-height:30px; padding-left:5px; background:url(../images/bg_select.png) right 0 no-repeat;border-left:#ccc 1px solid; cursor:pointer;}
.select_cont .pop_select_cont{ display:none; position:absolute; left:-1px; top:29px; background:#fff; border:#ccc 1px solid; padding:4px; cursor:auto;}
.select_w430{width:430px;}
.select_w430 .pop_select_cont{ width:426px;}
.select_w271{width:271px;}
.select_w271 .pop_select_cont{ width:267px;}
.select_w260{ width:261px;}
.select_w260 .pop_select_cont{ width:257px;}
.select_w248{ width:244px;}
.select_w248 .pop_select_cont{ width:240px;}
.select_w235{ width:234px;}
.select_w235 .pop_select_cont{ width:230px;}
.select_w235 .pop_select_cont .list_item{ padding-left:6px;}
.select_w128{width:127px;}
.select_w128 .pop_select_cont{ width:123px;}
.select_w104{width:104px;}
.select_w104 .pop_select_cont{ width:100px;}
.select_cont{ position:relative;}
.select_cont input{ border-top:#ccc 1px solid; margin:4px 0; background:url(../images/bg_select.png) -15px -40px no-repeat;}
.select_w271 input{ background-position:22px -40px;}
.select_cont .pop_select_cont ul.maxheight{ display:block; height:242px; overflow-y:auto;}
.select_cont .pop_select_cont ul{ display:block;}
.select_cont .pop_select_cont .list_item{ cursor:pointer;}
.select_cont .pop_select_cont .list_line{ cursor:auto; padding-left:6px;}

label.error {display: block; border: 0px; padding: 0px; color: #f00;}
/*down loading*/
.down_loading{ margin-bottom:7px;}
a.down_rar{ background:url(../images/icon_system.png) -189px -399px no-repeat; padding-left:27px;}