@{
    ViewBag.Title = "ContactUsToSalesTemplete";
    Layout = null;
}
<!--<tilte>Message from 8Seasons</tilte>-->
<h2>ContactUsToSalesTemplete</h2>
From:@ViewBag.CustomerName

Email:@ViewBag.Email

Message:@ViewBag.Message
            