@{
    Layout = null;
    ViewBag.Title = "CustomerBirthday";
}

<h2>CustomerBirthday</h2>

@* Todo:这里邮件主题别忘掉了 *@
<!--<tilte>Welcome to 8Seasons ( Beads, Jewelry Making Supplies & Crafts Wholesaler )</tilte>-->
