@{
    ViewBag.Title = "View1";
    Layout = null;
}
<!--<tilte>Kind reminder about product in your shopping cart</tilte>-->
Dear Customer
Here is your friend @ViewBag.Name from <a href=mailto:“www.8seasons.com“>8seasons.com</a>. Wish you have a nice day there.
On a regular review, I noticed that you have added some items in your shopping cart and you haven’t updated it for several days. This letter is just a reminder to you. 
You could login your account to check your items. Just click http://www.8seasons.com/index.php?main_page=login 
If you meet any problem when checkout or have any questions, do not hesitate to contact us, we will try our best to assist.
If you plan to complete order a few days later, just skip this reminder, sorry to be a bother.
Thank you for your time. Looking forward to hearing from you again. 

Best regards
Your friend @ViewBag.Name
