<?xml version="1.0" encoding="utf-8"?>
<Payment>
  <Paypal enable="true">
    <Account>paypal@8season.com</Account> 
    <SubmitUrl>https://www.sandbox.paypal.com/cgi-bin/webscr</SubmitUrl>
    <LogoUrl>https://www.8season.com/Images/PayPalLogo.gif</LogoUrl>
    <DescPrefix>8season Order - </DescPrefix>
    <DescSubfix></DescSubfix>
    <MaxAmounts>
      <MaxAmount currency="USD">10000</MaxAmount>
      <MaxAmount currency="CAD">9900</MaxAmount>
      <MaxAmount currency="GBP">6200</MaxAmount>
      <MaxAmount currency="EUR">7500</MaxAmount>
      <MaxAmount currency="AUD">9600</MaxAmount>
      <MaxAmount currency="NZD">12000</MaxAmount>
      <MaxAmount currency="SEK">67000</MaxAmount>
      <MaxAmount currency="SGD">12000</MaxAmount>
      <MaxAmount currency="JPY">780000</MaxAmount>
    </MaxAmounts>
  </Paypal>
  
  <PaypalExpress enable="true">
    <Environment>sandbox</Environment>
    <ServiceUrl>https://www.sandbox.paypal.com/cgi-bin/webscr</ServiceUrl>
    <Host></Host>
    <LogoUrl>https://www.8season.com/Images/PayPalLogo.gif</LogoUrl>
    <DescPrefix>8season Order - </DescPrefix>
    <DescSubfix></DescSubfix>
    <Credential>Certificate</Credential>
    <Credentials>
      <Certificate>
        <ApiUsername></ApiUsername>
        <ApiPassword></ApiPassword>
        <CertificateFile></CertificateFile>
        <PrivateKeyPassword></PrivateKeyPassword>
        <Subject></Subject>
      </Certificate>
      <Signature>
        <ApiUsername></ApiUsername>
        <ApiPassword></ApiPassword>
        <ApiSignature></ApiSignature>
        <Subject></Subject>
      </Signature>
      <OAuth>
        <ApiUsername></ApiUsername>
        <AuthToken></AuthToken>
        <AuthSignature></AuthSignature>
        <AuthTimestamp></AuthTimestamp>
        <CertificateFile></CertificateFile>
        <PrivateKeyPassword></PrivateKeyPassword>
      </OAuth>
    </Credentials>
    <MaxAmounts>
      <MaxAmount currency="USD">10000</MaxAmount>
      <MaxAmount currency="CAD">9900</MaxAmount>
      <MaxAmount currency="GBP">6200</MaxAmount>
      <MaxAmount currency="EUR">7500</MaxAmount>
      <MaxAmount currency="AUD">9600</MaxAmount>
      <MaxAmount currency="NZD">12000</MaxAmount>
      <MaxAmount currency="SEK">67000</MaxAmount>
      <MaxAmount currency="SGD">12000</MaxAmount>
      <MaxAmount currency="JPY">780000</MaxAmount>
    </MaxAmounts>
  </PaypalExpress>

  <GlobalCollect enable="true">
    <ServiceUrl>https://ps.gcsip.nl/wdl/wdl</ServiceUrl>
    <Version>2.0</Version>
    <LanguageCode>en</LanguageCode>
    <HostedIndicator>1</HostedIndicator>
    <Cvvindicator>1</Cvvindicator>
    <MerchantId>6186</MerchantId>
    <IpAddress>69.64.68.108</IpAddress>
    <MaxAmounts>
      <MaxAmount currency="USD">13000</MaxAmount>
      <MaxAmount currency="CAD">13000</MaxAmount>
      <MaxAmount currency="GBP">8100</MaxAmount>
      <MaxAmount currency="EUR">10000</MaxAmount>
      <MaxAmount currency="AUD">12000</MaxAmount>
      <MaxAmount currency="NZD">15000</MaxAmount>
      <MaxAmount currency="SEK">84000</MaxAmount>
      <MaxAmount currency="SGD">15000</MaxAmount>
      <MaxAmount currency="JPY">980000</MaxAmount>
    </MaxAmounts>
  </GlobalCollect>

  <OceanPayment>
    <ServiceUrl>https://secure.oceanpayment.com/gateway/service/test</ServiceUrl>
    <Methods>
      <Add Method="Webmoney"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="true" />
      <Add Method="Yandex"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="true" />
      <Add Method="Credit Card"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="false" />
      <Add Method="QiWi"  Account="140105"  Terminal ="14010508"  SecureCode="12345678" Enable="true" />
    </Methods>
    <MaxAmounts>
      <MaxAmount currency="USD">13000</MaxAmount>
      <MaxAmount currency="CAD">13000</MaxAmount>
      <MaxAmount currency="GBP">8100</MaxAmount>
      <MaxAmount currency="EUR">10000</MaxAmount>
      <MaxAmount currency="AUD">12000</MaxAmount>
      <MaxAmount currency="NZD">15000</MaxAmount>
      <MaxAmount currency="SEK">84000</MaxAmount>
      <MaxAmount currency="SGD">15000</MaxAmount>
      <MaxAmount currency="JPY">980000</MaxAmount>
    </MaxAmounts>
  </OceanPayment>

  <HSBC enable="true">
    <AccountName></AccountName>
    <AccountNumber>561 787847 838</AccountNumber>
    <BankName>HSBC Hong Kong</BankName>
    <SwiftCode>HSBCHKHHHKH</SwiftCode>
    <Address>1 Queen's Road Central, Hong Kong</Address>
    <Beneficiary>EIGHTSEASONS (HONGKONG) INDUSTRY CO., LIMITED</Beneficiary>
  </HSBC>

  <BankOfChina enable="true">
    <AccountName>Huang Lidi</AccountName>
    <AccountNumber>353259296059</AccountNumber>
    <BankName>Bank of China</BankName>
    <SwiftCode>BKCHCNBJ910</SwiftCode>
    <Address>Bank of China, Yiwu</Address>
    <Phone>(+86)579-85335690</Phone>
  </BankOfChina>

  <WesternUnion enable="true">
    <FirstName>AILAN</FirstName>
    <LastName>WEN</LastName>
    <Address>Buliding 3 (Panduo) #718 South Chengdian Road Yiwu Zhejiang China</Address>
    <ZipCode>322099</ZipCode>
    <City>Yiwu</City>
    <Country>P.R.China</Country>
    <Phone>(+86)579-85335690</Phone>
  </WesternUnion>

  <MoneyGram enable="true">
    <FirstName>AILAN</FirstName>
    <LastName>WEN</LastName>
    <Address>Office Building101#, Qiushi Rd, Beiyuan Industrial District</Address>
    <ZipCode>322000</ZipCode>
    <City>Yiwu</City>
    <Country>P.R.China</Country>
    <Phone>(+86)579-85335690</Phone>
  </MoneyGram>
</Payment>
                    